* {
    margin: 0;
    padding: 0;
}

/* listas */
ul {
    list-style: none; /* tirou os pontos dos elementos dentro da lista*/ 
}

body {
    background-color: #121214; /* background-color: serve para fazer o degrade da cor da imagem  */
    background-image: url(./assets/bg.svg);
    background-position-x: center;
    background-position-y: 55.6%;
}

body *{
    font-family: 'Roboto', sans-serif;
}

#app {
    width: fit-content;
    margin: 52px auto; /*top e lateral, respectivamente*/
}

header {
    margin-bottom: 63px;
}

.card {    
    padding: 32px 23px;
    text-align: center;  
    background: #1D1C19;
    border-bottom: 2px solid #F7DD43;
    border-radius: 6px; 
}

.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;

    color: #F7DD43;
}

.card h2 span {
    color: #E1E1E6;
    font-size: 14px;
    text-transform: uppercase; /*passando texto para todo maiusculo*/
}
